
<div class="text-right mb-3">
    <button class="btn btn-primary" (click)="openAddDialog()">Add</button>
  </div>

  <div class="text-center" *ngIf="!isload">
    <i class="fa-solid fa-spinner fa-2x fa-spin text-dar"></i>
  </div>

<div class="table_hidden_id" *ngIf="isload">
    <app-table [tableData]="serviceprice" [tableColumns]="columns" [tableLabels]="labels" (onEditRow)="editRow($event)" (onDeleteRow)="deleteRow($event)"></app-table>
</div>

<app-dialog [width]="'30vw'" [dialogPosition]="'center'" [closable]="true"  [dialogHeader]="(formType=='add')?'Add price list':'Edit price list'">

    <app-addprice *ngIf="formType=='add'" (onAddPrice)="getserviceprice()"></app-addprice>
    <app-editprice [serviceTypId]="selectedId" *ngIf="formType=='edit'" (oneditprice)="getserviceprice()"></app-editprice>
  </app-dialog>