<input id="pac-input"
       #autocomplete
       style="margin-bottom: 3rem;"
       class="form-control"
       type="text"
       placeholder="Search Box" />
<google-map #gmap
            (mapClick)="onMapClick($event)"
            width="100%"
            [center]="mapCenter"
            height="300px"
            [options]="options"
            [zoom]="zoom">
        <map-marker *ngFor="let m of MapMarkers"
                    [position]="m.position"
                    [options]="m.options"></map-marker>
        <map-marker *ngIf="CurrentMarker"
                    [position]="CurrentMarker.position"
                    [options]="CurrentMarker.options"></map-marker>
</google-map>