<div class="text-right mb-3">
    <button class="btn btn-primary" (click)="openAddDialog()">Add department</button>
  </div>
  <div class="text-center" *ngIf="!isload">
    <i class="fa-solid fa-spinner fa-2x fa-spin text-dar"></i>
  </div>

<div class="table_hidden_id"  *ngIf="isload">
      <app-table [tableData]="departments" [tableColumns]="columns" [tableLabels]="labels" (onEditRow)="editRow($event)" (onDeleteRow)="deleteRow($event)"></app-table>
</div>
<app-dialog [width]="'30vw'" [dialogPosition]="'center'" [closable]="true"  [dialogHeader]="(formType=='add')?'Add department':'Edit department'">

    <app-adddepartment *ngIf="formType=='add'" (onaddDepartment)="getDepartment()"></app-adddepartment>
    <app-editdepartment [depatmenttId]="selectedId" *ngIf="formType=='edit'" (onEditDepartment)="getDepartment()"></app-editdepartment>
  </app-dialog>
