<form [formGroup]="addUnit" (ngSubmit)="addData()">
    <div class="mb-3">
      <label>UnitMeasureNameAr</label>
      <input
        type="text"
        formControlName="UnitMeasureNameAr"
        class="form-control"
        placeholder="title"
      />
    </div>
    <div class="mb-3">
      <label>UnitMeasureNameEn</label>
      <input type="text" class="form-control" formControlName="UnitMeasureNameEn" />
    </div>
  
    <button type="submit" class="btn btn-primary">Edit Ticket</button>
  </form>
