<form [formGroup]="editWarehouse"
      (ngSubmit)="editData()">

  <div class="mb-3">
    <label>Warehouse Name Arabic</label>
    <input type="text"
           formControlName="WareHouseNameAr"
           class="form-control"
           [class.is-valid]="editWarehouse.get('WareHouseNameAr')?.errors == null && 
    editWarehouse.get('WareHouseNameAr')?.touched">
  </div>

  <div *ngIf=" editWarehouse.get('WareHouseNameAr')?.errors != null && editWarehouse.get('WareHouseNameAr')?.touched">
    <p class="text-danger"
       *ngIf="editWarehouse.get('WareHouseNameAr')?.errors?.['required']">
      Ware House Name Ar must be required
    </p>
  </div>


  <div class="mb-3">
    <label>Warehouse Name English</label>
    <input type="text"
           formControlName="WareHouseNameEn"
           class="form-control"
           [class.is-valid]="editWarehouse.get('WareHouseNameEn')?.errors == null && 
    editWarehouse.get('WareHouseNameEn')?.touched">
  </div>

  <div *ngIf=" editWarehouse.get('WareHouseNameEn')?.errors != null && editWarehouse.get('WareHouseNameEn')?.touched">
    <p class="text-danger"
       *ngIf="editWarehouse.get('WareHouseNameEn')?.errors?.['required']">
      Ware House NameEn must be required
    </p>
  </div>

  <div class="mb-3">
    <label>Location</label>
    <input type="text"
           (focus)="EditMap.hidden=false"
           (blur)="EditMap.hidden=true"
           formControlName="Location"
           class="form-control"
           [class.is-valid]="editWarehouse.get('WareHouseNameEn')?.errors == null && 
      editWarehouse.get('WareHouseNameEn')?.touched">
  </div>

  <div *ngIf=" editWarehouse.get('Location')?.errors != null && editWarehouse.get('Location')?.touched">
    <p class="text-danger"
       *ngIf="editWarehouse.get('Location')?.errors?.['required']">
      Location must be required
    </p>
  </div>
  <div [hidden]="true"
       #EditMap>
    <app-addmap (Location)="GetLocation($event)"></app-addmap>
    <button type="button"
            (click)="EditMap.hidden=true"
            class="btn btn-danger">Close map </button>
  </div>
  <button type="submit"
          class="btn btn-primary">edit </button>
</form>
<app-addmap (Location)="GetLocation($event)"></app-addmap>