<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="w-25 py-5 px-3 bg-white rounded-lg ">
        <h1 class="">Change Password</h1>
    
        <div class="mb-4">
            <input type="password" pInputText [formControl]="changePassword" class="w-100 "> 
        <div
        *ngIf="
        changePassword?.errors !== null &&
        changePassword?.touched
        "
        class="fw-normal text-danger pt-1 px-1"
      >
        <span *ngIf="changePassword?.errors?.required">
          Required
        </span>
        <span *ngIf="changePassword?.errors?.minlength">
            MinLength : 5 Characters
          </span>
      </div>
        </div>

        <p-button label="Submit" [disabled]="changePassword.invalid" (click)="changePass()"></p-button>
    </div>

    </div>
