
<div class="text-right mb-3">
    <button class="btn btn-primary" (click)="openAddDialog()">Add</button>
  </div>

  <div class="text-center" *ngIf="!isload">
    <i class="fa-solid fa-spinner fa-2x fa-spin text-dar"></i>
  </div>


<div class="table_hidden_id" *ngIf="isload">
    <app-table [tableData]="warehouse" [tableColumns]="columns" [tableLabels]="labels" (onEditRow)="editRow($event)" (onDeleteRow)="deleteRow($event)" (onaShowMap)="onaShowMap($event)"></app-table>
</div>
<app-dialog [width]="'30vw'" [dialogPosition]="'center'" [closable]="true"  [dialogHeader]="(formType=='add')?'Add warehouse':'Edit Warehouse'">

    <app-addwarehouse *ngIf="formType=='add'" (onaddWrehouse)="getWarehouse()"></app-addwarehouse>
    <app-editwarehouse [warehouseId]="selectedId" *ngIf="formType=='edit'" (onEditWarehouse)="getWarehouse()"></app-editwarehouse>
    <!-- <app-addmap></app-addmap> -->
</app-dialog>


