<div class="text-right mb-3">
    <button class="btn btn-primary" (click)="openAddDialog()">Add</button>
  </div>

  <div class="text-center" *ngIf="!isload">
    <i class="fa-solid fa-spinner fa-2x fa-spin text-dar"></i>
  </div>
  
<div class="table_hidden_id">
      <app-table [tableData]="employee" [tableColumns]="columns" [tableLabels]="labels" (onEditRow)="editRow($event)" (onDeleteRow)="deleteRow($event)"></app-table>
</div>
<app-dialog [width]="'30vw'" [dialogPosition]="'center'" [closable]="true"  [dialogHeader]="(formType=='add')?'Add employee':'Edit employee'">

    <app-addemployee *ngIf="formType=='add'" (onaddEmployee)="getEmployee()"></app-addemployee>
    <app-editemployee [employeeId]="selectedId" *ngIf="formType=='edit'" (onEditEmployee)="getEmployee()"></app-editemployee>
  </app-dialog>
