<div class="text-right mb-3">
    <button class="btn btn-primary" (click)="openAddDialog()">Add Work</button>
  </div>
  <div class="text-center" *ngIf="!isload">
    <i class="fa-solid fa-spinner fa-2x fa-spin text-dar"></i>
  </div>

<div class="table_hidden_id"  *ngIf="isload">
<app-table [tableData]="works" [tableColumns]="columns" [tableLabels]="labels" (onEditRow)="editRow($event)" (onDeleteRow)="deleteRow($event)"></app-table>
</div>
<app-dialog [width]="'30vw'" [dialogPosition]="'center'" [closable]="true"  [dialogHeader]="(formType=='add')?'Add Work':'Edit Work'">

    <app-addwork *ngIf="formType=='add'" (onAddWork)="getworkOrderStatus()"></app-addwork>
    <app-editwork [worktId]="selectedId" *ngIf="formType=='edit'" (onEditWork)="getworkOrderStatus()"></app-editwork>
  </app-dialog>