<form [formGroup]="editProfession" (ngSubmit)="editData()">

    <div class="mb-3">
        <label>Profession Name Arabic</label>
        <input type="text" formControlName="ProfessionNameAr" class="form-control" placeholder="title" />
    </div>
    <div class="mb-3">
        <label>Profession Name English</label>
        <input type="text" formControlName="ProfessionNameEn" class="form-control" placeholder="title" />
    </div>

    <button type="submit" class="btn btn-primary">edit</button>
</form>
