<div class="text-right mb-3">
  <button class="btn btn-primary" (click)="openAddDialog()">Add Ticket</button>
</div>

<div class="text-center" *ngIf="!isload">
  <i class="fa-solid fa-spinner fa-2x fa-spin text-dar"></i>
</div>

<div class="table_hidden_id" *ngIf="isload">
  <app-table [tableData]="ticket" [tableColumns]="columns" [tableLabels]="labels" (onEditRow)="editRow($event)"
    (onDeleteRow)="deleteRow($event)">
  </app-table>
</div>
<app-dialog [width]="'30vw'" [dialogPosition]="'center'" [closable]="true"
  [dialogHeader]="(formType=='add')?'Add Ticket':'Edit Ticket'">

  <app-addticket *ngIf="formType=='add'" (onAddTicket)="getTicket()"></app-addticket>
  <app-editticket [ticketId]="selectedId" *ngIf="formType=='edit'" (onEditTicket)="getTicket()"></app-editticket>
</app-dialog>